<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('ingredient.list')}}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ingredients</font></font></a>
    <a class="navbar-brand" href="{{ path('recipe.list')}}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Recipes</font></font></a>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('ingredient.new') }}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nouveau Ingredient
          </a>
        </li>     
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Chercher">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Chercher</font></font></button>
      </form>
    </div>
  </div>
</nav>